*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:
  linear-gradient(
  135deg,
  #1e3a8a,
  #60a5fa
  );

  font-family:Arial,sans-serif;

  padding:20px;
}

.profile-card{

  width:100%;
  max-width:430px;

  background:white;

  border-radius:28px;

  padding:25px;

  position:relative;

  box-shadow:
  0 15px 35px rgba(0,0,0,0.12);
}

/* TOP */

.top-bar{

  margin-bottom:20px;
}

.top-bar i{

  font-size:24px;

  cursor:pointer;

  color:#1e293b;

  position:relative;

  z-index:10;
}

/* PROFILE */

.profile-image{

  display:flex;
  justify-content:center;

  position:relative;

  margin-top:-20px;
}

.profile-image img{

  width:115px;
  height:115px;

  border-radius:50%;

  object-fit:cover;

  border:5px solid white;

  box-shadow:
  0 10px 25px rgba(0,0,0,0.15);
}

.profile-image label{

  position:absolute;

  bottom:5px;
  right:120px;

  width:38px;
  height:38px;

  border-radius:50%;

  background:#2563eb;

  color:white;

  display:flex;
  justify-content:center;
  align-items:center;

  cursor:pointer;
}

/* TEXT */

h2{

  text-align:center;

  margin-top:18px;

  font-size:28px;

  color:#1e293b;
}

.role{

  text-align:center;

  color:#64748b;

  margin-top:8px;

  margin-bottom:30px;
}

/* INPUT */

.input-group{

  margin-bottom:18px;
}

.input-group label{

  display:block;

  margin-bottom:8px;

  font-size:14px;

  color:#475569;
}

.input-group input{

  width:100%;

  padding:15px;

  border:none;

  border-radius:14px;

  background:#f1f5f9;

  font-size:15px;

  outline:none;
}

/* BUTTON */

.save-btn{

  width:100%;

  padding:15px;

  border:none;

  border-radius:16px;

  background:#7c3aed;

  color:white;

  font-size:16px;

  cursor:pointer;

  margin-top:10px;

  transition:0.3s;
}

.save-btn:hover{

  background:#6d28d9;
}

/* LOGOUT */

.logout{

  margin-top:25px;

  text-align:right;

  color:red;

  font-size:16px;

  cursor:pointer;
}