*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:
  linear-gradient(
  90deg,
  #dbeafe,
  #fef3c7,
  #fee2e2
  );

  font-family:Arial,sans-serif;

  padding:30px;
}

/* CARD */

.profile-card{

  width:100%;
  max-width:720px;

  background:#fff;

  border-radius:25px;

  overflow:hidden;

  box-shadow:
  0 15px 40px rgba(0,0,0,0.12);
}

/* TOP */

.top-bar{

  padding:25px;

  border-bottom:
  1px solid #e5e7eb;
}

.top-bar i{

  font-size:25px;

  cursor:pointer;

  color:#1e293b;
}

/* FOTO */

.profile-image{

  display:flex;
  justify-content:center;

  position:relative;

  margin-top:-60px;
}

.profile-image img{

  width:170px;
  height:170px;

  border-radius:50%;

  object-fit:cover;

  border:6px solid white;

  box-shadow:
  0 10px 25px rgba(0,0,0,0.15);
}

.profile-image label{

  position:absolute;

  bottom:10px;
  right:250px;

  width:40px;
  height:40px;

  border-radius:50%;

  background:white;

  display:flex;
  justify-content:center;
  align-items:center;

  cursor:pointer;

  box-shadow:
  0 3px 10px rgba(0,0,0,0.15);
}

/* CONTENT */

.profile-content{

  padding:35px;
}

h2{

  text-align:center;

  font-size:34px;

  color:#1e293b;

  margin-top:15px;
}

.role{

  text-align:center;

  color:#64748b;

  margin-top:8px;

  margin-bottom:35px;
}

/* INPUT */

.input-group{

  margin-bottom:20px;
}

.input-group label{

  display:block;

  margin-bottom:10px;

  color:#374151;

  font-weight:bold;
}

.input-group input{

  width:100%;

  padding:16px;

  border:none;

  border-radius:14px;

  background:#f1f5f9;

  font-size:15px;

  outline:none;
}

/* BUTTON */

.save-btn{

  width:100%;

  padding:16px;

  border:none;

  border-radius:16px;

  background:#7c3aed;

  color:white;

  font-size:17px;

  cursor:pointer;

  margin-top:10px;

  transition:0.3s;
}

.save-btn:hover{

  background:#6d28d9;
}

/* LOGOUT */

.logout{

  padding:25px 35px;

  border-top:
  1px solid #e5e7eb;

  display:flex;

  justify-content:flex-end;

  align-items:center;

  gap:10px;

  color:#ef4444;

  font-size:18px;

  cursor:pointer;
}

.logout i{

  font-size:20px;
}

/* MOBILE */

@media(max-width:768px){

  .profile-card{
    max-width:430px;
  }

  .profile-image img{

    width:120px;
    height:120px;
  }

  .profile-image label{

    right:120px;
  }

  h2{
    font-size:28px;
  }

}