*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  font-family:Arial,sans-serif;

  background:
  linear-gradient(
  135deg,
  #7aadff,
  #60a5fa
  );
}

.container{

  text-align:center;

  color:white;
}

.container h1{

  font-size:72px;

  margin-bottom:10px;

  font-weight:bold;
}

.container p{

  font-size:26px;

  margin-bottom:35px;

  opacity:0.95;
}

.container button{

  padding:16px 45px;

  border:none;

  border-radius:16px;

  background:white;

  color:#759ffc;

  font-size:20px;

  font-weight:bold;

  cursor:pointer;

  transition:0.3s;

  box-shadow:
  0 10px 30px rgba(255,255,255,0.3);
}

.container button:hover{

  transform:
  translateY(-4px);

  background:#f8fafc;
}.container{
  animation:fadeUp 1s ease;
}

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(40px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}.hero-logo{

  width:130px;

  margin-bottom:30px;

  border-radius:30px;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.2);
}.logo-img{
  width:140px;
  height:140px;
  object-fit:cover;
  border-radius:50%;
  margin-bottom:30px;
}
@media(max-width:768px){

  .hero img{
    width:120px !important;
  }

  .hero h1{
    font-size:42px !important;
  }

  .hero p{
    font-size:18px !important;
  }

  .hero button{
    width:220px !important;
    height:55px !important;
    font-size:18px !important;
  }

}